.educationcontainer {

    height: 15vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.educationtitle {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 22px;
}

.educationformcontainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 16px;

    gap: 12px;
}
input {
    width: 300px;
}

.column-one,
.column-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.educationcontainertwo {

    display: flex;
    flex-direction: column;
    padding: 30px;
}

.school,
.field {

    font-size: 24px;
    font-weight: bolder;

}

.header {

    display: flex;
    justify-content: space-between;
}

li,
ul {
    list-style: none;
}

.headertwo {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;


}