.experiencecontainer {

    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 18px;
    
}

.experiencetitle {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 22px;
    margin: 12px;
}

.experienceformcontainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 16px;

    gap: 12px;
}
input {
    width: 300px;
}

.column-one,
.column-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

textarea {
    width: 70%;
    height: 100px;

}

.conone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contwo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.column-three {
    width: 100%;
}



.experienceformcontainertwo {

    display: flex;
    flex-direction: column;
    margin: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bolder;

}

.headertwo {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
}

.headerthree {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    padding-top: 14px;
}